h1 {
    position: absolute;
    left: 30%;
    font-size: 40px;
    color: white;
    font-family: cursive;
    background-color: purple;
    border-radius: 25%;
}

.cell {
    background-color: red;
    width: 50px;
    height: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    border-radius: 30%;
    cursor: pointer;
}

table {
    background-color: yellow;
    position: absolute;
    width: 400px;
    height: auto;
    left: 30%;
    top: 30%;
    border-radius: 25%;
}

body {
    background-image: url(https://previews.123rf.com/images/asnia/asnia1708/asnia170800315/83835097-cute-background-with-feathers-card-design-with-border-in-bohemian-style-ethnic-border-.jpg);
}